.tooltip {
    position: absolute;
    margin-left: -450px;
  margin-top:469px;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: -40%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
#aa{
position:absolute;  margin-top: 500px;

max-width: 500px;
}
#copybut{
  margin-left: -270px;
  margin-top:471px;
  position:absolute;
}
p {
  background-color: rgb(230, 230, 230);
  display: inline-block;
  border: 3px solid darkslategrey;
width: 500px;
padding: 20px;
  
}
#myInput{
  background-color: rgb(230, 230, 230);width: 540px;
}
body{
  font-family: Helvetica,'Microsoft YaHei',simsun,serif;color: #454545;line-height:1.5em; background-color: #1b1b1b;
}